[2015-12-21 03:23] djyde opened #1 "initial window size not work"
`initialWindowXxx` did not work for window but did work for the webview viewport size.

Relevant codes in https://github.com/djyde/WebShell/blob/master/WebShell%2FViewController.swift#L106-L123

[2015-12-21 04:16] djyde opened #2 "make a notification bridge for JavaScript"

[2015-12-21 04:32] djyde commented on #1
Until the bug fixing, you can manually change initial window size in the storyboard.

[2015-12-21 10:21] angusjune opened #3 "JS Bin demo just doesn't work"
Crashes on launch.
I am using 10.11 Beta

[2015-12-21 12:17] djyde commented on #3
Thanks for your report. I upload a new distribution http://7mnoy7.com1.z0.glb.clouddn.com/github/JSBin.zip

[2015-12-21 12:56] Visoar opened #4 "Can't be close by hotkey cmd + w"
RT.

[2015-12-21 13:08] djyde commented on #4
fix at https://github.com/djyde/WebShell/commit/87e207190636962827c8fb829418edf82fb4feed

[2015-12-21 13:08] #4 closed

[2015-12-21 13:34] Visoar opened #5 "Can't open links in browser"
Links in WebShell can't be opened when I click it.

[2015-12-21 13:37] Visoar opened #6 "Will WebShell support Custom CSS?"
Will WebShell support Custom CSS.

[2015-12-21 13:43] #3 closed

[2015-12-21 13:44] djyde commented on #5
It a `target="_blank"` link?

[2015-12-21 13:47] visoar commented on #5
Yes.
And it can't be open in WebShell or system default browser.

[2015-12-21 13:51] djyde commented on #5
It should be open in system default browser. Could you help me fix it?

[2015-12-21 14:02] visoar commented on #5
sorry but I can't write Swift.
this link in stackoverflow may help you .
http://stackoverflow.com/questions/4530590/opening-webview-links-in-safari

[2015-12-21 17:15] egoist commented on #6
why not use MacGap if you want custom css?

[2015-12-21 20:49] 0xWDG commented on #2
Please see #8 (Added Notification and console.log Support)

[2015-12-21 20:54] 0xWDG commented on #5
Maybe we can arrange that with a javascript bridge.
I will look at it if the current pull request is done.

[2015-12-22 02:45] djyde commented on #6
not yet

[2015-12-22 02:45] #6 closed

[2015-12-22 03:03] jajajaime opened #9 "add https to the quickstart on the cloning instruction"
I was getting

[code]

without the https on `git clone github.com/djyde/WebShell.git APP_NAME`

[2015-12-22 03:16] djyde commented on #9
Oh, you may not configure your git. Use `git clone https://github.com/djyde/WebShell.git APP_NAME` instead and I will add it to  quickstart instruction later :)

[2015-12-22 04:37] jajajaime commented on #9
Awesome! That's what I did.

[2015-12-22 05:17] ghost commented on #1
setFrame:display:

[2015-12-22 05:29] su-xiaolin opened #10 "My Mac runs OS X 10.10.5, which is lower than WebShell’s minimum deployment target. Change your project’s minimum deployment target or upgrade My Mac’s version of OS X."
Anyone know how to solve this problem?

[2015-12-22 05:41] #9 closed

[2015-12-22 05:43] djyde commented on #10
This is a known issue. I will change the target later. Or you can manually change it in
![image](https://cloud.githubusercontent.com/assets/914329/11948717/01b4c1f0-a8b2-11e5-844a-7b0180925e8f.png)

[2015-12-22 05:47] djyde commented on #1
@froge-xyz could you make a Pull Request?

[2015-12-22 06:08] neatlife commented on #10
@djyde  Thanks for your remind.

[2015-12-22 06:09] #10 closed

[2015-12-22 06:22] djyde commented on #10
fixed at https://github.com/djyde/WebShell/commit/f3fb329c15d2d3573d10e632512fd81e6b33a292

[2015-12-22 06:24] su-xiaolin opened #11 "Any plan to develop one for windows platform?"

[2015-12-22 06:36] djyde commented on #11
Windows did not come with an application build tool. And many language(framework)  can build a Windows application.

It not the same as OS X, everyone who is using OS X had an Xcode. We didn't need to care about what IDE we use or what language we use. I hope `WebShell` is an out-of-the-box stuff - clone it, and run.

But it is still worth to try. If you make a WebShell for Windows, let me know!

[2015-12-22 09:04] ghost commented on #1
@djyde its fixed, please check my PR.

[2015-12-22 09:11] #1 closed

[2015-12-22 09:13] #11 closed

[2015-12-22 09:38] jchiu85 commented on #2
Comment on issue

[2015-12-22 11:05] wdg opened #14 "Webshell for iOS"
Maybe it's good to also make a iOS version.

With the local notifications and maybe some other enhancements.

[2015-12-23 02:36] #5 closed

[2015-12-23 02:47] djyde commented on #14
I think ios' web app capable is enough to do this.

[2015-12-23 02:48] djyde commented on #2
done at #8

[2015-12-23 02:48] #2 closed

[2015-12-23 03:57] djyde opened #15 "Media key support"
Considering support media key(previous, next, play/pause)

[2015-12-23 11:29] 0xWDG commented on #14
If you see this: https://whatwebcando.today
There are plenty of features what can be implemented to a possible iOS version like "full screen", "notifications", "vibrations", "battery status"

[2015-12-25 05:01] metrue commented on #14
@wdg

I have same thought too,

Maybe we can setup a experimental project to do that.

[2015-12-25 06:02] vista980622 opened #18 "Support for OS X Mavericks (10.9.5)"
OS X Mavericks still has ~15% market share, and Swift code is compatible with Mavericks because Xcode automatically embeds a runtime binary upon compilation.

However, symbol viewDidLoad is not available in Mavericks. Any chance to weak link that/add some sort of version check to make WebShell compatible with Mavericks?

[2015-12-25 06:14] djyde commented on #18
Current build target is 10.10. I'd already had a plan for creating a branch which support lower system target. It require Objective-C skill but I'm not good at it. I will take a help wanted in issue. I'm not sure if anyone has interest in doing it.

[2015-12-25 06:56] vista980622 commented on #18
It's great to hear back.

"In fact, you can target back to OS X Mavericks or iOS 7 with that same app. This is possible because Xcode embeds a small Swift runtime library within your app’s bundle. Because the library is embedded, your app uses a consistent version of Swift that runs on past, present, and future OS releases." (https://developer.apple.com/swift/blog/?id=2)

Maybe we don't need Objec

[2015-12-25 07:01] djyde commented on #18
This is a useful post. I will have a try.

[2015-12-25 07:04] vista980622 commented on #18
Thanks, djyde!

[2015-12-25 07:31] djyde opened #19 "Window initial position always is in the left-bottom of screen"

[2015-12-25 09:38] robgraeber opened #20 "Broken on Google Docs/Sheets Dashboard"
This seems to be the same issue that Fluid has, if you set the homepage to https://docs.google.com/spreadsheets/u/0/, it will have the spinner loading forever.

![screen shot 2015-12-25 at 1 35 25 am](https://cloud.githubusercontent.com/assets/2387719/12001924/e4abee92-aaa7-11e5-9468-699433fa7ba6.png)

[2015-12-25 09:47] djyde commented on #20
I had a try and feel very strange because I used debugger listened all the network and javascript evaluation. But there were NO any error and NO network was blocked.

![image](https://cloud.githubusercontent.com/assets/914329/12001989/5eda4b00-ab2f-11e5-9e7c-6bb6c3ac90ad.png)

[2015-12-25 09:50] djyde commented on #20
After some researching I thought I'd knew what's wrong. Give me a few minutes.

http://stackoverflow.com/questions/15981431/showing-document-from-google-docs-in-a-webview

[2015-12-25 14:19] mstroeck opened #21 "Enable opening pop-up windows for authentication"
I have not been able to get any app to work that uses, for example, my Google account for login. This makes WebShell pretty much unusable for me, and I guess for quite a lot of people

[2015-12-25 15:32] djyde commented on #21
I don't quietly understand what you mean `unusable`. After you signing in WebShell-based app, cookies and session would be saved.

[2015-12-25 15:33] djyde commented on #21
Oh I see your point. I will think about it.

[2015-12-25 19:59] mdamjanic7 commented on #21
I'm having the same problem. Tried to setup Asana, but I can't log in.

[2015-12-26 02:09] djyde commented on #21
@wdg have any ideas about it?

[2015-12-26 11:40] 0xWDG commented on #20
The problem is something with the iframe. i will open a general iframe problem for it, handling frames has multiple problems.

[2015-12-26 11:41] wdg opened #23 "iframe doesn't execute JavaScript right"
As seen in #20 JavaScript in a iframe doesn't run good. and it is ignoring the web hooks injected in the web view

----

Need to disable Cross-Domain-Policy, otherwise we can't inject code into a iframe

http://stackoverflow.com/questions/2421224/disable-the-same-origin-policy-making-cross-domain-xmlhttprequests-in-webkit-w

[2015-12-26 11:45] 0xWDG commented on #21
Yes, i will take a look for injecting popups as well as a web hook.
<s>The only challenge is to return the cookies/session/data, since web views can't be linked.</s> since we can use NSUserDefaults sync this is not a problem

<s>i know a proper solution to grab the cookies, and sessions, but to inject it before the web view will load is the only challenge.</s>, After some research this is not a pr

[2015-12-26 12:42] 0xWDG commented on #20
@djyde Safari analyse

Uses 2 frames wich never stop loading.
`postmessageRelay` and `frame`

`frame` Analyse (this one contains the spinner ![Spinner](https://ssl.gstatic.com/s2/oz/images/notifications/spinner_64_b6a3129c3429eba076483f2c93ba38f6.gif))
Scheme: https
Host: plus.google.com
Path: /u/0/_/notifications/frame

`postmessageRelay` Analyse
Scheme: https
Host: accounts.google.com
Path: /o/o

[2015-12-26 13:19] djyde commented on #21
It seems a thorny problem.

[2015-12-26 15:43] noestreich opened #24 "possible to reference local files?"
Does WebShell allow to point to a local (i.e index.html) file within the package and not to a remote URL? If yes, how would one reference and include a local file? Thanks.

[2015-12-27 17:06] chesleybrown opened #25 "Preserve local storage"
From what I can tell, local storage is not preserved after quitting the WebShell application. This means for applications that use local storage to save information such as authentication tokens, they are lost when exiting the application resulting in the user having to re-login.

Any idea on how to get local storage to be preserved after exiting the application?

[2015-12-28 06:12] djyde commented on #24
I think it can do it. But I think if you want to load a local javascript app, using MacGap is a better choice.

[2015-12-28 15:10] djyde commented on #25
It seems that the Cocoa WebView not support localStorage now. I have to find a hack way to implement it.

[2015-12-28 15:10] #24 closed

[2015-12-28 15:39] chesleybrown commented on #25
I was looking at this example "Enabling localStorage": http://www.lostdecadegames.com/completing-your-native-mac-osx-app-built-in-h/

And looks like it might be possible using something like:

[code]

But really not sure where this configuration would be set?

[2015-12-28 15:49] djyde commented on #25
There is no method called `setLocalStorageDatabasePath`. It might be deprecated.

[2015-12-28 18:59] 0xWDG commented on #25
@djyde (bug on iOS) http://stackoverflow.com/questions/18964410/localstorage-no-longer-working-in-ios-7-webview

But the problem with the `_setLocalStorageDatabasePath` is that it is a `private` property and isn't built to use it.

we have `mainWebview.preferences.cacheModel` for caching maybe that will help.

@chesleybrown  http://www.lostdecadegames.com/completing-your-native-mac-osx-app-built-i

[2015-12-28 20:49] 0xWDG commented on #23
JSFiddle fails due:

---

`Error while parsing the 'sandbox' attribute: 'allow-modals' is an invalid sandbox flag.` (iframe / see #23)

---

[code]

See #25

[2015-12-29 02:40] wao1201 opened #26 "When I click a notification in Notification Centre, nothing happened"
When a user clicked a notification in Notification Centre, it supposed to bring user to the corresponding app, but now, nothing happened.

在通知中心点击通知后，没有任何对应动作发生，然后通知中心内的对应条目也不会消失（在自己打开 app 查看信息后）

[2015-12-29 10:09] yhjor1212 opened #27 "How to support cmd + m keystroke?"
Are there any workaround to minimax the webshell by pressing cmd + m?

Thanks!

[2015-12-29 10:18] djyde commented on #27
fixed at https://github.com/djyde/WebShell/commit/960927a411a08015427d9c742f5b1a41e77ac3c9

[2015-12-29 10:18] #27 closed

[2015-12-29 19:42] TheReviles opened #29 "File upload"
Hello,

will be possible allow file upload from form input?

Thx4reply

[2015-12-29 19:46] 0xWDG commented on #29
I will take a look at it.

[2015-12-29 21:00] wdg opened #30 "Idea: Use gitter"
Maybe its better to use https://gitter.im for some cases, instead of discussing via github issues?

[2015-12-29 21:05] TheReviles commented on #29
THX!

[2015-12-29 21:10] TheReviles opened #31 "File download"
Hello,

when I try download PDF file directly from link (or right click > Download Linked File) - will be only opened in app and I cann't go home/back etc.
and any other filetypes I cannot download.

will be possible download files to Downloads dir?

[2015-12-30 01:55] #19 closed

[2015-12-30 01:55] #26 closed

[2015-12-30 01:55] #29 closed

[2015-12-30 02:11] djyde commented on #30
I've created one. https://gitter.im/djyde/WebShell

[2015-12-30 02:11] #30 closed

[2016-01-04 04:37] wao1201 opened #34 "Badge and Notification won't disappear"
We I clicked the notifications, the notifications still stayed there after the app window launched. So did the badge.

点击通知后通知没有自动消失（把多个也是如此）

[2016-01-04 13:02] xiangwangfeng opened #35 "incorrect mock implementation for Notification.requestPermission"
your implementation

[code]

while I think the following coes should be more  suitable for real environment

[code]

[2016-01-04 18:18] #35 closed

[2016-01-04 18:19] 0xWDG commented on #35
[code]

[2016-01-06 08:15] wao1201 commented on #34
Issue does still exist. "Badge" part is done, but the notifications in the Notification Centre still be there even you clicked them. (I was on 0.1.9)

Now, updated to 0.1.10 and rebuild the app. I'll update this comment when I got any news.

[2016-01-06 15:55] 0xWDG commented on #18
@vista980622 Can you please check if you can build it on Mavericks,
_note: the target is still 10.10 because it is un tested_

i don't have a Mavericks machine.

[2016-01-06 16:25] kennyhighlights commented on #18
Thanks!

I'll give it a try when I have time!

[2016-01-06 19:51] ankushg opened #36 "Custom Userscripts + Userstyles?"
Fluid supports custom Userscripts and Userstyles. Is it possible to add support for these into Webshell?

[2016-01-06 20:59] ankushg opened #37 "Loading Animation (instead of just text)"
Would be a nice way to add some polish to slower-loading webapps :smile:

[2016-01-07 00:08] wao1201 commented on #34
Update: Problem is still there. No luck.

[2016-01-07 02:22] djyde commented on #37
Will be

[2016-01-08 06:36] xiangwangfeng opened #38 "Add support for webkitNotifications?"

[2016-01-09 04:57] vista980622 commented on #18
Fails to compile after target change.

If a version check is added, it compiles and runs on Mavericks without crashing, but the main window fails to draw itself.

[2016-01-13 07:27] onato commented on #14
I just released https://github.com/intellum/neeman. It is mostly about implementing native iOS navigation for a web app. At Intellum we use it to turn our web apps into native apps that feel native.

Let me know what you think.

[2016-01-13 07:38] metrue commented on #14
@onato great work.

I also setup a experimental project also https://github.com/metrue/Applize .

will yours and update you if I got something to add/query.

[2016-01-13 08:08] onato commented on #14
Thanks @metrue.

As opposed to WebShell, I will not be focusing on getting people up and running **without coding**. Perhaps there is room of a WebShell-iOS project that uses Neeman?

I have a more low level goal: use more web technologies without getting in the way of me implementing native features too much.

[2016-01-13 08:23] metrue commented on #14
@onato

oh, I see. Great idea.

[2016-01-15 14:11] ankushg opened #39 "Support for printing"
It doesn't seem like printing is supported, as CMD+P doesn't bring up the native print dialog, and webpages that have Print buttons don't bring up the native print dialog either.

[2016-01-15 19:02] #39 closed

[2016-01-15 19:07] ankushg commented on #39
That was fast! 😊

[2016-01-15 19:07] 0xWDG commented on #38
We do support (local) HTML5 Notifications please see [the examples](https://github.com/djyde/WebShell/blob/master/Tests/Notifications.html)

External (Safari) notifications via apple's APN server are not supported, because this is restricted to a app pushed to the Mac AppStore wich WebShell itself isn't

[2016-01-15 19:48] #34 closed

[2016-01-15 19:49] 0xWDG commented on #39
Thanks, No problem!

[2016-01-15 19:52] 0xWDG commented on #36
Can you specify in what context you want it,
- Inject into Websites
- Customize the appearance of WebShell

[2016-01-15 19:53] 0xWDG commented on #31
I'd love to say it is built in, but it is terrible hard to make. i'm still searching for a solution for this problem.

[2016-01-16 13:40] xiangwangfeng commented on #38
[Standard html5 notification](http://caniuse.com/#feat=notifications) is supported from chrome45,IE8,FireFox42.

So in order to support more browser, some web-app may decide to use navigator.webkitNotification instead of standard html5 Notification in old browser. Isn't it better to support more  nonstandard notification api?

[2016-01-16 14:00] 0xWDG commented on #38
What's the difference between navigator.webkitNotification and the official one.

We fully support the html5 notification

[2016-01-16 14:00] 0xWDG commented on #38
@djyde what do you think?

[2016-01-17 03:08] djyde commented on #38
`webkitNotification` was only supported by Android Browser. I think it unnecessary to be supported in WebShell

[2016-01-21 22:29] schuettla opened #40 "Quit app when window is closed"
An app I built with Webshell just got rejected from the app store with the following statement regarding the default behavior when the main window gets closed:

As it is an single-window app it would be good to add the behavior as stated in the HIGuidlines.

[2016-01-22 00:10] djyde commented on #40
Feeling sorry for my ignoring.

But there is a `Window` item on menubar. Which version did you use?

![image](https://cloud.githubusercontent.com/assets/914329/12498693/71ba2dce-c0df-11e5-9c72-78031daea2da.png)

[2016-01-22 09:09] schuettla commented on #40
I am using the master branch.
Yes, there is the Window menu but the behavior is not HIG compliant. There are 2 options:
1) When you close the main window the window menu provides a functionality to reopen the main window again.
2) When you close the main window the whole application closes.

[2016-01-22 19:52] #38 closed

[2016-01-26 01:55] velocityzen opened #41 "Add geolocation support"
Right now this code never runs a callback, it is probably something with permissions.
[code]

[2016-01-26 06:10] velocityzen opened #42 "move js hooks into separate js files"
Also it can be a folder, `jshooks` for example, to inject all *.js to a webview from.

[2016-01-26 06:54] 0xWDG commented on #42
Sorry, but I don't think that is an enhancement, that only makes the injecting and the interaction more difficult than needed.

In a while we'll support custom JavaScript, and maybe custom css. (See #36 )

[2016-01-26 18:35] 0xWDG commented on #40
[code]

is that a good option (uses option 2)

[2016-01-26 18:40] #40 closed

[2016-01-26 18:40] 0xWDG commented on #40
Never mind. fix is there

[2016-01-26 20:42] 0xWDG commented on #41
Difficult. we can enable it via private headers, but we don't do that that will cause App Store submits to rejected.

[code]

See also:
- http://stackoverflow.com/questions/7930494/cocoa-webview-display-permission-dialog-for-js-navigator-geolocation-getcurrentl
- http://opensource.apple.com/source/WebKit/WebKit-6531.9/mac/WebView/WebUIDelegatePrivate.h

But i did some research.

[code]

Some techn

[2016-01-26 21:23] 0xWDG commented on #25
Update:

Tried (Objective-C Bridging header):

[code]

And then:

[code]

And it's not working.

Notes:
- http://stackoverflow.com/questions/10609644/localstorage-not-persisting-in-osx-app-xcode-4-3
- https://github.com/MacGapProject/MacGap1/blob/master/MacGap/Classes/ContentView.m

---

i think the best option is that we'll grab the local storage items and put them in a NSUserDefaults? or somethi

[2016-01-27 01:33] djyde commented on #36
@wdg Do you want to provide custom js and css?

[2016-01-27 08:30] 0xWDG commented on #36
I think that if we support custom css/JavaScript (as a injection) would be useful in some cases.

I'm currently not thinking to change the appearance of WebShell via CSS/JavaScript

[2016-01-27 08:36] djyde commented on #36
@wdg We can support it on `v0.2.0` if necessary.

[2016-01-28 20:10] 0xWDG commented on #25
Update got something working (after reboot).

[code]

Now i only need to build a timer, to get them all saved for re-use.

[2016-01-28 21:26] #25 closed

[2016-01-28 21:32] 0xWDG commented on #41
Ok, i'll think i know how to fix it.
Since

[code]

is _not_ a listener i can directly return the values. (if i save them)
but, i will make a config flag for it, because by default location needs to be disabled.

-> Note to myself: Inject hook, and return dictionary data.

[2016-01-29 02:07] djyde commented on #25
@wdg great job!

[2016-01-29 22:16] #41 closed

[2016-01-29 22:17] #42 closed

[2016-01-31 20:15] wdg opened #43 "Clean up codebase, use more extensions."

[2016-01-31 20:15] #37 closed

[2016-01-31 20:27] #43 closed

[2016-02-01 01:56] djyde commented on #37
@wdg You could post a screenshot of the new loading screen

[2016-02-02 20:22] 0xWDG commented on #37
On the first load, you will see the message "Launching..." and a progress bar

<img width="1112" alt="screen shot 2016-02-02 at 21 25 55" src="https://cloud.githubusercontent.com/assets/1290461/12763054/acf6cd68-c9f2-11e5-8895-adf2848c26c4.png">

After the initial load, you will see the progress bar, on page change (while loading).
And of course disappear if the loading is finished.

[2016-02-14 08:02] swrobel opened #44 "Trackpad gestures?"
Back/forward with gestures doesn't seem to work. The keyboard shortcuts seem to work fine.

[2016-03-08 08:45] defims opened #45 "initial window size not work"
this issue is same as #1 ,but it still not work, I replace [this line](https://github.com/djyde/WebShell/blob/master/WebShell/WebShellPageActions.swift#L90) with `mainWindow.fame = frame` and it works

[2016-03-08 10:47] djyde commented on #45
What's your XCode version and OS X version?

[2016-03-09 02:55] defims commented on #45
xcode 7.2.1(7c1002) and osx 10.10.5

[2016-03-09 08:22] defims opened #46 "file upload disable fakepath"
will be possible disable fakepath when upload file? current webkit implement [html5's fakepath](HTML5's fakepath) because of security, but native app should handle it with nodejs or others, so disable this feature will be nice when develop native app.

[2016-03-10 21:13] 0xWDG commented on #46
<img width="1112" alt="screen shot 2016-03-10 at 22 17 56" src="https://cloud.githubusercontent.com/assets/1290461/13684595/c2144a86-e70c-11e5-85bd-032bb0ec756a.png">

This is a built-in security feature, i don't think it's good to remove it.
you can upload to node.js it all is local, it don't cost any data and takes almost no time to handle a upload.

See file uploads for node.js: https://codefor

[2016-03-10 21:19] 0xWDG commented on #20
<img width="1112" alt="screen shot 2016-03-10 at 22 24 43" src="https://cloud.githubusercontent.com/assets/1290461/13684808/b2c270e8-e70d-11e5-8113-58ba7f07cba8.png">

Please retry yourself.

[2016-03-10 21:19] 0xWDG commented on #23
<img width="1112" alt="screen shot 2016-03-10 at 22 17 56" src="https://cloud.githubusercontent.com/assets/1290461/13684891/2589e02a-e70e-11e5-9cdc-11567b49cf97.png">

... Seems fixed.

[2016-03-10 21:19] #23 closed

[2016-03-11 04:35] defims commented on #46
nodejs is nice for uploading file, what i need is the file's fullpath, webshell send the full path to nodejs, and nodejs setup a server of the path.

[2016-03-11 06:11] 0xWDG commented on #46
What are you trying to do.
For a normal upload c:\fakepath\file.x doesn't matter.
You can easily remove it with JavaScript...

And it still has no effect on the uploading process.

See also my example if you use input field "name" instead of input field "value" you don't get c:\fakepath

Otherwise make a snippet or something to show what you're trying. Uploading works fine, local and external.

[2016-03-12 11:22] defims commented on #46
what i want like [this](https://github.com/MacGapProject/MacGap1/pull/25)

[2016-03-12 12:14] 0xWDG commented on #46
@djyde what do you think.

If we need this then we need to trigger a event  (event.result) after selecting the file, and make some more changes.

Please note, the c:\fakepath\ was introduced for security and now you can see the file system tree (where the file is)
- file uploading works; issue= if a file is given to the `input type="file"` then get the local file path.

[2016-03-12 13:52] djyde commented on #46
I think WebShell is a browser, not a runtime. This problem should not be solve by WebShell.

[2016-03-15 20:43] 0xWDG commented on #20
If there is any issue, then reopen this issue, or create a new one.
i've tested it, and it passes the test.

[2016-03-15 20:43] #20 closed

[2016-03-15 20:57] wdg opened #47 "Injecting javascript is too slow"
If i set the url to http://wdg.github.io/HTML-iOS-Template/mac.html
wich contains a test what uses `window.webshell.version` a.k.a. `webshell.version`.
i'd need to create a hack because the injecting is somewhat to slow.

The function:

    function myFunction() {
        if (typeof window.webshell !== 'undefined') {
            console.log(window.webshell.version) // works...
        } else {

[2016-03-15 21:13] 0xWDG commented on #46
we have no plans to support this.
maybe in the future, more as a service then a must.

if you think it must be added to WebShell, and you can code yourself then the best solution is to create a pull request.

at least, for now, i close this issue because it has no addition for now.

[2016-03-15 21:13] #46 closed

[2016-03-15 21:16] #45 closed

[2016-03-15 21:18] wdg opened #48 "Fix "new window"."
If i launch a new window the 'main window' wil freeze.
+ the recently launched screen will not become on top.

[2016-03-15 21:30] #48 closed

[2016-03-17 00:41] kripsbro opened #49 "iOS"
Can you made Notification API to work on iOS ?

[2016-03-17 08:00] djyde commented on #49
Do you mean WebShell for iOS?

[2016-03-17 09:38] kripsbro commented on #49
Yes, but only think i need it's Notification API :) , on OS-X works very great, i was tried to port it on iOS but it wont work :( can you help me ?

[2016-03-17 10:00] 0xWDG commented on #49
Please see #14

It will come, first we need to destroy some bugs on the Mac version.

[2016-03-17 13:14] kripsbro commented on #49
ok thanks

[2016-03-18 02:09] #49 closed

[2016-03-26 15:06] wdg opened #50 "Swift 2.2 + Swift 3"
- [x] Optimize for Swift 3
- [x] Fix errors and warnings for Swift 2.2

[2016-03-26 15:07] #50 closed

[2016-03-31 19:45] #21 closed

[2016-03-31 19:52] wdg opened #51 "Fix contextmenu (web inspector is unavailable)"
Fix contextmenu (web inspector is unavailable)

[2016-03-31 19:54] #51 closed

[2016-04-12 20:16] wdg opened #52 "add support for custom user agents"

[2016-04-12 20:18] #52 closed

[2016-04-13 03:14] djyde commented on #52
Remember to release new version and new tag :)

[2016-04-14 17:47] 0xWDG commented on #52
i'll remember it. first we'll need to kill some bugs... #47 and #36
But i do not know how (hard) it is to build in #15 and #44
And #31 needs also to be resolved, i think the most important ones are:
 #31 (file download)
 #47 (injecting is (sometimes) too slow)

[2016-04-14 18:02] wdg opened #53 "Injecting happens to times at startup!"

[2016-04-14 18:02] 0xWDG commented on #36
Fixing #53 first, then i'll release this fix.

[2016-04-14 18:07] #36 closed

[2016-04-14 18:08] #53 closed

[2016-04-14 18:08] #47 closed

[2016-04-14 18:12] 0xWDG commented on #18
Wich version of Xcode are you using, i'll try with a emulator to fix it.

[2016-04-14 18:12] 0xWDG commented on #44
@djyde do you know how those gestures works, gestures are not my best point.

[2016-04-14 19:51] wdg opened #54 "Open in a new window does not work"
Same contextmenu as #31

[2016-04-14 19:56] wdg opened #55 "Add back and forward buttons"
Only if available

I link it to #31 (as the Contextmenu issue, this issue is for building a good bug and enhancement history)

[2016-04-14 20:01] 0xWDG commented on #31
When i release this fix it will support:
- Back
- Forward
- Reload
- Open link in a new window
- Download linked file

@djyde must we support going back to home also (we can make it configurable)

<img width="243" alt="screen shot 2016-04-14 at 21 59 35" src="https://cloud.githubusercontent.com/assets/1290461/14541885/6e5b7c0c-028c-11e6-8d9d-6dd50c0c8e90.png">

[2016-04-15 02:18] djyde commented on #31
It's fine

[2016-04-18 18:34] #55 closed

[2016-04-18 18:39] #54 closed

[2016-04-18 19:53] #31 closed

[2016-04-21 19:41] 0xWDG commented on #18
@djyde @vista980622  I think we should skip this.

## Problem list:

#### NSHTTPURLResponse

##### WebShellDownloadManager.swift

[code]

#### NSMutableURLRequest

##### WebShellDownloadManager.swift

[code]

#### NSURLRequest

##### WebShellPageActions.swift

##### WebViewFunctions.swift

[code]

#### 181 Errors if i want to build it from Mavericks.

### Reduceable, but not with losing a lot of f

[2016-04-22 01:44] djyde commented on #18
WTF...

Just skip it.

[2016-04-22 01:44] #18 closed

[2016-04-23 13:41] wdg opened #56 "Merge Statut with WebShell"
see: https://github.com/djyde/Statut/issues/2

[2016-04-23 17:54] wdg opened #57 "Move settings to Settings.swift"

[2016-04-23 17:54] #57 closed

[2016-04-23 17:56] 0xWDG commented on #44
See: https://github.com/djyde/WebShell/blob/master/WebShell/WebShellTrackpadGestures.swift#l24

For some strange reason the `swipeWithEvent` is not called.

--- Please see:
https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/EventOverview/HandlingTouchEvents/HandlingTouchEvents.html

[2016-04-23 18:06] #15 closed

[2016-04-23 18:06] 0xWDG commented on #15
I don't know exactly how you want to use it, but it is supported see: https://github.com/djyde/WebShell/blob/master/WebShell/WebShellMediaKeysSupport.swift#L20

[2016-04-24 02:00] djyde commented on #15
Actually, what i want is explosing an event listener API which let WebShell can tell the website what media key  the user press. It is a very useful feature for the video web application.

[2016-04-24 02:20] djyde commented on #36
@wdg Please write a reference in wiki for how to inject custom css and Javascript :)

[2016-04-24 17:54] 0xWDG commented on #36
I will do this with the release of 0.2.0 with all functions and examples.

[2016-04-24 18:49] 0xWDG commented on #15
I got (for now)

[code]

i'll make a event trigger API later.

---

the thing what makes the media keys support hard, is that via the media keys interface we can't communicate directly to the view controller unfortunately.

https://github.com/djyde/WebShell/blob/master/WebShell/WebShellMediaKeysSupport.swift

[2016-04-26 19:43] 0xWDG commented on #56
@djyde Can you help me a bit.
can you fix those 2 warnings in "WebShellPopupViewController.xib" after that we can close this issue i think!

[2016-04-26 19:44] wdg commented on #14
@djyde Can you make a target in the Xcode project, for some strange reason if i add a target i can't compile anymore! (thanks!)

[2016-04-29 15:45] wdg opened #58 "Inject JavaScript and CSS via directory."

[2016-04-29 15:46] #58 closed

[2016-05-01 15:14] swrobel commented on #44
Maybe something useful here? https://github.com/kfix/MacPin/search?utf8=✓&q=gesture&type=Code

Gestures work on MacPin

[2016-05-01 15:21] 0xWDG commented on #44
Good idea i Will check it later today! (In About 2 Hours)

[2016-05-01 15:22] 0xWDG commented on #44
The only thing is that UIGesture... Only works on iOS

[2016-05-01 16:37] swrobel commented on #44
I could be searching for the wrong thing - I don't know Mac development

[2016-05-01 18:53] 0xWDG commented on #44
[code]

Some Progress!!!

[2016-05-01 18:54] wdg opened #59 "WebShell crashes sometimes when clicking right after starting WebShell."

[2016-05-01 18:55] #59 closed

[2016-05-01 20:28] wdg opened #60 "Changes in settings doesn't work"

[2016-05-01 20:29] #44 closed

[2016-05-01 20:29] #60 closed

[2016-05-01 20:29] #56 closed

[2016-05-01 22:30] swrobel commented on #44
:clap:

[2016-08-02 17:58] wdg opened #61 "Prepare for Swift 3 Support"
Created https://github.com/djyde/WebShell/tree/Swift30
It's running on Swift 3

Some things need to be fixed
- [x] Download does not work (because we don't may subscript AnyObject)
- [x] Media keys does not work
- [x] func Download() does not work because of URLSession (NSURLSession)
- [x] Contextmenu does not work.
- [x] ... we need to find out.

<s>If you are using Xcode-Beta 8.0.</s>

Please re

[2016-08-20 16:35] tliebig opened #62 "Build succeeds, but app stalls"
Hi,

I was able to successfully build the app the Xcode, but the app exits right after starting.

When running the app through Xcode, I get the following message:
`APP_NAME[13909:905406] Unable to find class: WebShell.WebShellMediaKeysSupport, exiting`

I've tried it both with MediaKeys `true` and `false` in settings.swift, but this did not make a difference.

Any pointers as to what else I could

[2016-08-21 15:04] djyde commented on #62
Did u use the latest version?

[2016-08-21 18:24] pouledodue opened #63 "compile errors"
NSTimer.scheduledTimerWithTimeInterval(NSTimeInterval(timeAsInt!), target: self, selector: #selector(ViewController.flashScreenNow), userInfo: nil, repeats: false)
			}

Expected ',' separator
Expected expression in list of expressions

I get like 61 errors like those when executing Product > Archive

[2016-08-21 18:47] 0xWDG commented on #63
Are you using Xcode beta (version 8.0).
Then Yes, I'll now it but we didn't optimize all the code for Swift 3.
Since there were between beta 1, and beta 6 a lot of major changes in the swift 3 compiler.

Please report the Xcode version and the build number.
Second are you using Swift 2.x or Swift 3?

[2016-08-21 18:48] 0xWDG commented on #62
Hi,

I have a question to you.
Are you using Xcode beta (version 8.0).
Then Yes, I'll now it but we didn't optimize all the code for Swift 3.
Since there were between beta 1, and beta 6 a lot of major changes in the swift 3 compiler.

Please report the Xcode version and the build number.
Second are you using Swift 2.x or Swift 3?

Thanks in advance.

[2016-08-21 20:20] wdg commented on #61
Created https://github.com/djyde/WebShell/tree/Swift30
I'ts running on Swift 3

Some things need to be fixed
- [ ] Download does not work (because we don't may subscript AnyObject)
- [ ] Mediakeys does not work
- [ ] func Download() does not work because of URLSession (NSURLSession)
- [ ] ... we need to find out.

[2016-08-21 20:29] 0xWDG commented on #62
If you are using Xcode-Beta 8.0.

Please remove the WebShell directory.
then open the terminal and run this command.
`git clone https://github.com/djyde/WebShell.git -b Swift30`
This will clone the (experimental) Swift 3.0 version of WebShell

If this works for you please report it to us.
Please refer to #61 for all the Swift 3 issues

[2016-08-21 20:29] 0xWDG commented on #63
If you are using Xcode-Beta 8.0.

Please remove the WebShell directory.
then open the terminal and run this command.
`git clone https://github.com/djyde/WebShell.git -b Swift30`
This will clone the (experimental) Swift 3.0 version of WebShell

If this works for you please report it to us.
Please refer to #61 for all the Swift 3 issues

[2016-08-21 21:04] ghost commented on #63
Well I installed Xcode 7.3.1 and it compiled ok so I will not investigate further.

I have an other question though. I set the app home URL to "https://console.aws.amazon.com/dynamodb/" and if I try to log in AWS it opens  Safari.

[2016-08-21 21:18] 0xWDG commented on #63
Hi,

Are you sure that in the configuration the following is set as i show here

[code]

p.s. i'm getting a weird error if i want to enable cookies (swift 3.0 version, i run Sierra so i can not use 7.3.1. anymore)

And since, debugging does not work yet on Swift 3, i cannot check that.
Sorry about that.

[2016-08-21 21:20] 0xWDG commented on #63
- if there is a problem, with using it please open an issue, I close this one, because the "Swift 3" issue is #61 and the problem you describing is a new problem.

Thanks for using WebShell!

[2016-08-21 21:20] #63 closed

[2016-08-21 21:20] ghost commented on #63
yes it is set to false

[2016-08-21 21:22] 0xWDG commented on #63
Please make a bug report using this manual. https://github.com/djyde/WebShell/blob/master/contributing.md

---

# Contributing / Making issues

If you experience problems with a specific web(app)

_(visible by running via Xcode or by running with parameter -debug true)_

Please use the `Debug` -> `Report an issue on this page` button, so we know the full url.

![Debug - Report an issue on this pag

[2016-08-21 21:22] 0xWDG commented on #63
- Closing topic.

[2016-08-21 21:34] 0xWDG commented on #42
It is a folder now.

If you open the app and make a folder in `Contents/Resources` called `JavaScript`
(so: `WebShell.app/Contents/Resources/JavaScript`)
and put there the JavaScript files WebShell will load it

If you open the app and make a folder in `Contents/Resources` called `CSS`
(so: `WebShell.app/Contents/Resources/CSS`)
and put there the CSS files WebShell will load it

[2016-08-22 06:13] tliebig commented on #62
Xcode is Version 7.3.1 (7D1014).

About Swift I'm not sure. I downloaded the latest WebShell via https://github.com/djyde/WebShell > Clone or Download > Download.

First had quite a bunch of errors when building, but that was due to unknowingly using Xcode 6.4. Upgraded to XCode 7.3, re-downloaded webshell to start from scratch, and edited settings.swift. Building works fine (with no errors), but

[2016-09-03 10:08] tliebig commented on #62
Found the error: The error occurs as soon as I rename the project from "WebShell" to "my.webservice.com".

Looks like
`easyjob.zebra.de[3900:121386] Unable to find class: WebShell.WebShellMediaKeysSupport,`
does not get refactored to `easyjob.zebra.de.WebShellMediaKeysSupport`

[2016-09-04 16:47] 0xWDG commented on #62
Can you please ZIP your project, and then upload it to somewhere?.
So we can check for errors.

[2016-09-04 16:48] 0xWDG commented on #62
Please see: https://github.com/djyde/WebShell/blob/master/WebShell/Info.plist#L37 have you updated that line to your project/class name? `easyjob.zebra.de` or the project name.
please try changing that setting.

[2016-09-05 19:35] tliebig commented on #62
I think you meant line 39 - at least that's what it was for me. Changing it to my projekt name "easyjob.zebra.de" didn't work, though. I suppose the dots might mess up XCode.

The ZIP prior to changing the line is available at http://downloads.beta.zebra.de/57cdc8277e916.zip (221.1 KB, valid till 2016-09-19).

I just followed https://github.com/djyde/WebShell/wiki/How-to-build-a-WebShell-based-app

[2016-09-05 19:50] 0xWDG commented on #62
Ok, Thanks.

I've got 2 solutions for your case.

First is the simple one:
<img width="566" alt="solution 1" src="https://cloud.githubusercontent.com/assets/1290461/18256193/51141ca2-73b2-11e6-89b6-41809331f5e0.png">

Second is maybe better (Because a appname like `de.zebra.easyjob.app` is a little bit weird).
<img width="255" alt="step 1" src="https://cloud.githubusercontent.com/assets/1290461/18

[2016-09-06 19:52] tliebig commented on #62
Alright, that did the job - thanks alot.

Maybe the tutorial under https://github.com/djyde/WebShell/wiki/How-to-build-a-WebShell-based-application should be updated to include having to fix the info.plist after renaming the project in step 2?

[2016-09-06 19:57] 0xWDG commented on #62
Great that it helps!

I definitely will update the tutorial.
I'm still a bit busy with squashing some Swift 3.0 bugs..
I hope I've got enough time to fix it tomorrow 😊

Kind Regards/Vriendelijke Groet,
Wesley de Groot.

Disclaimer: http://www.wdgwv.com/disclaimer

[2016-09-07 12:37] 0xWDG commented on #62
Wiki is now up-to-date: https://github.com/djyde/WebShell/wiki/How-to-build-a-WebShell-based-application

Closing this issue.

[2016-09-07 12:37] #62 closed

[2016-11-08 18:46] 0xWDG commented on #61
Fix for contextmenu is coming 👍
Found the solution

[2016-11-08 19:27] #61 closed

[2016-11-08 19:32] 0xWDG commented on #61
@djyde Finished \o/ 👍

[2016-11-08 19:33] 0xWDG commented on #61
See: #64

[2016-11-08 20:53] wdg opened #65 "Swiping for back & Forward."
Report after merging #61 & #64

`navigateViaTrackpad` defaults temporary to false, since they have changed the algorithm in Swift 3.
touches on the trackpad will give random "Left" or "Right" swipes.

Debug:
Scrolling a webpage from top to bottom (in several pieces)

    Ended  X:0.308425903320312 Y:0.176177978515625
    Versus X:0.517059326171875 Y:0.70758056640625
    Right?

    Ended  X:0.3066

[2016-11-08 21:00] wdg opened #66 "Fix flashScreen(..)"
SIGABRT

[2016-11-08 21:01] #66 closed

[2016-11-08 21:14] wdg opened #67 "Add comments for Functions"
like

    /**
     Checks if assertion is FALSE (Not done)

     - Parameter String: The input string

     - Returns: The input String
     */

[2016-11-09 06:21] djyde commented on #61
Great work!

[2017-09-13 15:39] wdg opened #69 "Update for Swift 4"
.

[2017-09-13 15:55] #69 closed

[2017-10-24 18:35] wdg opened #70 "Remove unnecessary tests"
Remove unnecessary tests

[2017-10-24 19:30] #67 closed

[2017-10-24 19:30] #70 closed

[2017-10-24 19:32] wdg opened #72 "Remove "xcuserdatad""

[2017-10-24 19:34] #72 closed

[2017-10-30 12:54] st3phani opened #74 "Is it possible to memorize credentials?"
is it possible to memorize credentials ?

[2017-10-30 14:13] 0xWDG commented on #74
Yes, but it is a lot of Work.
I Will take a look somewhere This week.

[2017-11-02 20:14] 0xWDG commented on #65
Fixed in Swift 4 version.

[2017-11-02 20:14] #65 closed

[2017-11-02 20:18] wdg opened #75 "rename internal javascript function"
Change `app` to something else.

[2017-11-02 21:25] #75 closed

[2017-11-02 21:25] #74 closed

[2017-11-02 21:28] 0xWDG commented on #14
Locked this conversation.
Deleted messages about discussing this issue.

[2017-11-02 21:32] 0xWDG commented on #14
Status update: **Wontfix**.
The support for the OS X app has major priority.

In a later moment, I will take a look about implementing some HTML5 features in the iOS version, but the problem is we can't just reuse code.

[2017-11-02 21:32] #14 closed

[2017-11-14 18:10] od040491mai opened #78 "LoadingBar and Launching text"
Hi!Loading Animation, LoadingBar, Launching text Doesn't work with any website regardless of the change in settings.swift. In your example too.
first runs white blank with title "WebShell" for 1-2 seconds and only after website
![screenshot](https://user-images.githubusercontent.com/13697944/32796356-2f2cc668-c977-11e7-9b21-bcb3a788cb29.png)
website.

[2017-11-14 18:17] 0xWDG commented on #78
I don’t understand what you mean.
But I will take a look somewhere next week.

The loading animation doesn’t work?
Or only on the first page?

[2017-11-14 18:23] od040491mai commented on #78
In your demo StackEdit The launch of the application looks like this
![2017-11-14 20 20 08](https://user-images.githubusercontent.com/13697944/32797137-7760b302-c979-11e7-8bd7-9e0c836f2c43.png)

but in the Webshell-master it's only white blank, as in the first screenshot

[2017-11-14 18:28] 0xWDG commented on #78
Ok, Will look somewhere next week

[2018-01-04 19:58] wdg opened #80 "[BUG] Unknown Window class (null) in Interface Builder file, creating generic Window instead"
[BUG] Unknown Window class (null) in Interface Builder file, creating generic Window instead

[2018-01-04 19:58] #78 closed

[2018-01-04 19:58] #80 closed

[2018-01-04 19:59] 0xWDG commented on #78
Sorry for the delay, there was also another issue #80 which caused this weird behavior of WebShell.

[2018-06-13 10:35] spnkr opened #85 "gmail loads in basic HTML mode"
![image](https://user-images.githubusercontent.com/11250/41346184-cd47b806-6ed3-11e8-93d0-85b367d09d6e.png)

[2018-06-13 18:16] 0xWDG commented on #85
Try to set the user agent to Chrome or Safari, something like `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/7046A194A `

[2018-08-10 12:40] LETRA opened #86 "SSH Problem with github repository"
Hi. I think there's a problem with ssh keys

[code]

[2018-09-28 11:47] 0xWDG commented on #85
This seems to be an issue by gmail itself, it doesn't trow any errors.
And while loading I cannot find anything what doesn't work as expected.

[2018-09-28 11:47] #85 closed

[2018-09-28 11:53] 0xWDG commented on #86
Weird.

I've tried on several Macs but never encountered this problem.

[code]

this is on the Mac of a friend of me @MaikeMLW
[code]

[2018-09-28 11:53] #86 closed

[2018-09-30 03:20] djyde commented on #86
You should use http protocol instead:

[code]

[2019-06-10 06:54] kqr opened #88 "WebView is deprecated since OS X 10.14, replacement WKWebView is not used"
References:

WebView deprecation: https://developer.apple.com/documentation/webkit/webview

WKWebView documentation: https://developer.apple.com/documentation/webkit/wkwebview

I'm unfortunately not well versed enough in OS X APIs to submit a pull request.

(The reason this matters to me, besides support for as many platforms as possible, is that I'd like to magnify the page in the window, which I